--USE [master]
--GO
--/****** Object:  Database [Vinoteca]    Script Date: 3/27/2020 10:24:20 PM ******/
--CREATE DATABASE [Vinotecas]
-- WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS
--GO
--ALTER DATABASE [Vinoteca] SET COMPATIBILITY_LEVEL = 150
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [Vinoteca].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [Vinoteca] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [Vinoteca] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [Vinoteca] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [Vinoteca] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [Vinoteca] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [Vinoteca] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [Vinoteca] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [Vinoteca] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [Vinoteca] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [Vinoteca] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [Vinoteca] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ALLOW_SNAPSHOT_ISOLATION ON 
--GO
--ALTER DATABASE [Vinoteca] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [Vinoteca] SET READ_COMMITTED_SNAPSHOT ON 
--GO
--ALTER DATABASE [Vinoteca] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [Vinoteca] SET  MULTI_USER 
--GO
--ALTER DATABASE [Vinoteca] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [Vinoteca] SET ENCRYPTION ON
--GO
--ALTER DATABASE [Vinoteca] SET QUERY_STORE = ON
--GO
--ALTER DATABASE [Vinoteca] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 7), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 10, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
--GO
USE [Vinotecas]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[BODEGA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODEGA](
	[Nombre] [nvarchar](50) NOT NULL,
	[Dirección] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_BODEGA] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOTELLA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOTELLA](
	[NombreVino] [nvarchar](50) NOT NULL,
	[PrecioVino] [money] NOT NULL,
	[UnidadesVino] [int] NOT NULL,
	[TamañoVino] [int] NOT NULL,
 CONSTRAINT [PK_BOTELLA] PRIMARY KEY CLUSTERED 
(
	[NombreVino] ASC,
	[PrecioVino] ASC,
	[UnidadesVino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA](
	[TipoUnidades] [int] NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_CAJA] PRIMARY KEY CLUSTERED 
(
	[TipoUnidades] ASC,
	[Precio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES-TELÉFONO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES-TELÉFONO](
	[DPI] [nvarchar](13) NOT NULL,
	[Teléfonos] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CLIENTES-TELÉFONO] PRIMARY KEY CLUSTERED 
(
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[NombreVino] [nvarchar](50) NOT NULL,
	[NombreBodega] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[NombreVino] ASC,
	[NombreBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRIBUCIÓN]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRIBUCIÓN](
	[NombreVino] [nvarchar](50) NOT NULL,
	[PrecioVino] [money] NOT NULL,
	[UnidadesVino] [int] NOT NULL,
	[TamañoVino] [int] NOT NULL,
 CONSTRAINT [PK_DISTRIBUCIÓN] PRIMARY KEY CLUSTERED 
(
	[NombreVino] ASC,
	[PrecioVino] ASC,
	[UnidadesVino] ASC,
	[TamañoVino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[NIT] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[DPI] [nvarchar](13) NOT NULL,
	[EstadoDeAlta] [bit] NOT NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[NIT] [nvarchar](8) NOT NULL,
	[NombreVIno] [nvarchar](50) NOT NULL,
	[GastosDeEnvio] [money] NOT NULL,
	[DirecciónPedido] [nvarchar](100) NOT NULL,
	[PrecioTotal] [money] NOT NULL,
	[TipoDePago] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACTURA_1] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDIVIDUAL]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIVIDUAL](
	[DPI] [nvarchar](13) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Edad] [nvarchar](3) NOT NULL ,
	
 CONSTRAINT [PK_INDIVIDUAL] PRIMARY KEY CLUSTERED 
(
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
SELECT INDIVIDUAL
WHERE Edad >= 18
GO
/****** Object:  Table [dbo].[MULTIPLICACIÓN]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MULTIPLICACIÓN](
	[PrecioTotal] [money] NOT NULL,
	[NombreVino] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MULTIPLICACIÓN] PRIMARY KEY CLUSTERED 
(
	[PrecioTotal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MULTIPLICACIÓN-BOTELLA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MULTIPLICACIÓN-BOTELLA](
	[PrecioDeBotella] [money] NOT NULL,
	[PrecioVino] [money] NOT NULL,
	[NombreVino] [nvarchar](50) NOT NULL,
	[UnidadesVino] [int] NOT NULL,
 CONSTRAINT [PK_MULTIPLICACIÓN-BOTELLA] PRIMARY KEY CLUSTERED 
(
	[PrecioDeBotella] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MULTIPLICACION-CAJA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MULTIPLICACION-CAJA](
	[PrecioTotalBotella] [money] NOT NULL,
	[TipoCaja] [int] NOT NULL,
	[PrecioCaja] [money] NOT NULL,
	[PrecioTotal] [money] NOT NULL,
 CONSTRAINT [PK_MULTIPLICACION-CAJA] PRIMARY KEY CLUSTERED 
(
	[PrecioTotal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[NombreVino] [nvarchar](50) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[NombreVino] ASC,
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO-USUARIO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO-USUARIO](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[NIT] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_PEDIDO-USUARIO] PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO-VINO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO-VINO](
	[NombreVino] [nvarchar](50) NOT NULL,
	[PrecioTotal] [money] NOT NULL,
	[NoUnidades] [int] NOT NULL,
 CONSTRAINT [PK_PEDIDO-VINO] PRIMARY KEY CLUSTERED 
(
	[NombreVino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEL-BODEGA]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEL-BODEGA](
	[NombreBodega] [nvarchar](50) NOT NULL,
	[Teléfono] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TEL-BODEGA] PRIMARY KEY CLUSTERED 
(
	[NombreBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPODEVINO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPODEVINO](
	[Nombre] [nvarchar](50) NOT NULL,
	[PrecioSinIVA] [money] NOT NULL,
	[Unidades] [int] NOT NULL,
	[Tamaño] [int] NOT NULL,
	[Origen] [nvarchar](60) NOT NULL,
	[Categoría] [nvarchar](60) NOT NULL,
	[Características] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TIPODEVINO] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO-CLIENTE]    Script Date: 3/27/2020 10:24:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO-CLIENTE](
	[NIT] [nvarchar](8) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[CorreoElectronico] [nvarchar](60) NOT NULL,
	[Dirección] [nvarchar](100) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[DPI] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK_USUARIO-CLIENTE] PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC,
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BODEGA] ([Nombre], [Dirección], [CorreoElectronico]) VALUES (N'Petra', N'Italia', N'italpetr@gmai.com')
INSERT [dbo].[BOTELLA] ([NombreVino], [PrecioVino], [UnidadesVino], [TamañoVino]) VALUES (N'Casillero del Diablo', 6820.2000, 1, 1)
INSERT [dbo].[CAJA] ([TipoUnidades], [Precio]) VALUES (2, 14.0000)
INSERT [dbo].[CLIENTES-TELÉFONO] ([DPI], [Teléfonos]) VALUES (N'4598745896458', N'54691258')
INSERT [dbo].[COMPRA] ([NombreVino], [NombreBodega]) VALUES (N'Casillero del Diablo', N'Petra')
INSERT [dbo].[DISTRIBUCIÓN] ([NombreVino], [PrecioVino], [UnidadesVino], [TamañoVino]) VALUES (N'Casillero del Diablo', 6820.2000, 1, 1)
INSERT [dbo].[EMPRESA] ([NIT]) VALUES (N'125')
INSERT [dbo].[ESTADO] ([DPI], [EstadoDeAlta]) VALUES (N'4598745896458', 1)
INSERT [dbo].[INDIVIDUAL] ([DPI], [Nombres], [Apellidos], [Edad]) VALUES (N'4598745896458', N'Alex', N'Villatoro', N'19')
INSERT [dbo].[MULTIPLICACIÓN] ([PrecioTotal], [NombreVino]) VALUES (95484.8000, N'Casillero del Diablo')
INSERT [dbo].[MULTIPLICACIÓN-BOTELLA] ([PrecioDeBotella], [PrecioVino], [NombreVino], [UnidadesVino]) VALUES (6820.2000, 6820.2000, N'Casillero del Diablo', 1)
INSERT [dbo].[MULTIPLICACION-CAJA] ([PrecioTotalBotella], [TipoCaja], [PrecioCaja], [PrecioTotal]) VALUES (6820.2000, 2, 14.0000, 95484.8000)
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
INSERT [dbo].[TEL-BODEGA] ([NombreBodega], [Teléfono]) VALUES (N'Petra', N'54785129')
INSERT [dbo].[TIPODEVINO] ([Nombre], [PrecioSinIVA], [Unidades], [Tamaño], [Origen], [Categoría], [Características]) VALUES (N'Casillero del Diablo', 6820.2000, 1, 1, N'Chile', N'Tinto', N'Frutos Secos')
INSERT [dbo].[TIPODEVINO] ([Nombre], [PrecioSinIVA], [Unidades], [Tamaño], [Origen], [Categoría], [Características]) VALUES (N'Merlot', 45.0000, 4, 5, N'Guatemala', N'rojo', N'rico sabor')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 3/27/2020 10:24:30 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BODEGA]  WITH CHECK ADD  CONSTRAINT [FK_BODEGA_TEL-BODEGA] FOREIGN KEY([Nombre])
REFERENCES [dbo].[TEL-BODEGA] ([NombreBodega])
GO
ALTER TABLE [dbo].[BODEGA] CHECK CONSTRAINT [FK_BODEGA_TEL-BODEGA]
GO
ALTER TABLE [dbo].[BOTELLA]  WITH CHECK ADD  CONSTRAINT [FK_BOTELLA_DISTRIBUCIÓN] FOREIGN KEY([NombreVino], [PrecioVino], [UnidadesVino], [TamañoVino])
REFERENCES [dbo].[DISTRIBUCIÓN] ([NombreVino], [PrecioVino], [UnidadesVino], [TamañoVino])
GO
ALTER TABLE [dbo].[BOTELLA] CHECK CONSTRAINT [FK_BOTELLA_DISTRIBUCIÓN]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_BODEGA] FOREIGN KEY([NombreBodega])
REFERENCES [dbo].[BODEGA] ([Nombre])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_BODEGA]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_TIPODEVINO] FOREIGN KEY([NombreVino])
REFERENCES [dbo].[TIPODEVINO] ([Nombre])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_TIPODEVINO]
GO
ALTER TABLE [dbo].[DISTRIBUCIÓN]  WITH CHECK ADD  CONSTRAINT [FK_DISTRIBUCIÓN_TIPODEVINO] FOREIGN KEY([NombreVino])
REFERENCES [dbo].[TIPODEVINO] ([Nombre])
GO
ALTER TABLE [dbo].[DISTRIBUCIÓN] CHECK CONSTRAINT [FK_DISTRIBUCIÓN_TIPODEVINO]
GO
ALTER TABLE [dbo].[MULTIPLICACIÓN]  WITH CHECK ADD  CONSTRAINT [FK_MULTIPLICACIÓN_MULTIPLICACION-CAJA] FOREIGN KEY([PrecioTotal])
REFERENCES [dbo].[MULTIPLICACION-CAJA] ([PrecioTotal])
GO
ALTER TABLE [dbo].[MULTIPLICACIÓN] CHECK CONSTRAINT [FK_MULTIPLICACIÓN_MULTIPLICACION-CAJA]
GO
ALTER TABLE [dbo].[MULTIPLICACIÓN-BOTELLA]  WITH CHECK ADD  CONSTRAINT [FK_MULTIPLICACIÓN-BOTELLA_BOTELLA] FOREIGN KEY([NombreVino], [PrecioVino], [UnidadesVino])
REFERENCES [dbo].[BOTELLA] ([NombreVino], [PrecioVino], [UnidadesVino])
GO
ALTER TABLE [dbo].[MULTIPLICACIÓN-BOTELLA] CHECK CONSTRAINT [FK_MULTIPLICACIÓN-BOTELLA_BOTELLA]
GO
ALTER TABLE [dbo].[MULTIPLICACION-CAJA]  WITH CHECK ADD  CONSTRAINT [FK_MULTIPLICACION-CAJA_CAJA] FOREIGN KEY([TipoCaja], [PrecioCaja])
REFERENCES [dbo].[CAJA] ([TipoUnidades], [Precio])
GO
ALTER TABLE [dbo].[MULTIPLICACION-CAJA] CHECK CONSTRAINT [FK_MULTIPLICACION-CAJA_CAJA]
GO
ALTER TABLE [dbo].[MULTIPLICACION-CAJA]  WITH CHECK ADD  CONSTRAINT [FK_MULTIPLICACION-CAJA_MULTIPLICACIÓN-BOTELLA] FOREIGN KEY([PrecioTotalBotella])
REFERENCES [dbo].[MULTIPLICACIÓN-BOTELLA] ([PrecioDeBotella])
GO
ALTER TABLE [dbo].[MULTIPLICACION-CAJA] CHECK CONSTRAINT [FK_MULTIPLICACION-CAJA_MULTIPLICACIÓN-BOTELLA]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PEDIDO-USUARIO] FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[PEDIDO-USUARIO] ([NombreUsuario])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PEDIDO-USUARIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PEDIDO-VINO] FOREIGN KEY([NombreVino])
REFERENCES [dbo].[PEDIDO-VINO] ([NombreVino])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PEDIDO-VINO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_USUARIO] FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[USUARIO] ([NombreUsuario])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_USUARIO]
GO
ALTER TABLE [dbo].[PEDIDO-USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO-USUARIO_FACTURA] FOREIGN KEY([NIT])
REFERENCES [dbo].[FACTURA] ([NIT])
GO
ALTER TABLE [dbo].[PEDIDO-USUARIO] CHECK CONSTRAINT [FK_PEDIDO-USUARIO_FACTURA]
GO
ALTER TABLE [dbo].[PEDIDO-VINO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO-VINO_MULTIPLICACIÓN] FOREIGN KEY([PrecioTotal])
REFERENCES [dbo].[MULTIPLICACIÓN] ([PrecioTotal])
GO
ALTER TABLE [dbo].[PEDIDO-VINO] CHECK CONSTRAINT [FK_PEDIDO-VINO_MULTIPLICACIÓN]
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO-CLIENTE_CLIENTES-TELÉFONO] FOREIGN KEY([DPI])
REFERENCES [dbo].[CLIENTES-TELÉFONO] ([DPI])
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE] CHECK CONSTRAINT [FK_USUARIO-CLIENTE_CLIENTES-TELÉFONO]
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO-CLIENTE_EMPRESA] FOREIGN KEY([NIT])
REFERENCES [dbo].[EMPRESA] ([NIT])
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE] CHECK CONSTRAINT [FK_USUARIO-CLIENTE_EMPRESA]
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO-CLIENTE_ESTADO] FOREIGN KEY([DPI])
REFERENCES [dbo].[ESTADO] ([DPI])
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE] CHECK CONSTRAINT [FK_USUARIO-CLIENTE_ESTADO]
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO-CLIENTE_INDIVIDUAL] FOREIGN KEY([DPI])
REFERENCES [dbo].[INDIVIDUAL] ([DPI])
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE] CHECK CONSTRAINT [FK_USUARIO-CLIENTE_INDIVIDUAL]
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO-CLIENTE_USUARIO] FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[USUARIO] ([NombreUsuario])
GO
ALTER TABLE [dbo].[USUARIO-CLIENTE] CHECK CONSTRAINT [FK_USUARIO-CLIENTE_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 3/27/2020 10:24:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
USE [master]
GO
